<style>
.scrollabletextbox {
    height:200px;
    width:1000px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
}
</style>
<body>
  <p>Apa yang ingin anda lakukan?</p>
  <table>
  <tr>
      <td>
	<form action="/cleaningtext">
    		<input type="submit" value="Bersihkan Teks" />
	</form>      
      </td>
      <td>
	<form action="/cleaningfile">
    		<input type="submit" value="Bersihkan File" />
	</form>      
      </td>
  </tr>
  </table>
</body>